// Color
$background: #3398CC;
$background-main: #2E8DBD;
$title-color: #145f84;
$link-color: #fff;

$font-family-sans-serif: Georgia, Cambria, "Times New Roman", Times, serif !default;
$theme-colors: #fff;
$font-size-base: 17px !default;
